npm-debug.log
.gradle
.DS_Store

/node_modules
*.map
bower_components/
.sublime-project
.vagrant
/.sass-cache
caddy.log
scripts/config.js
/dist
/tmp
scripts/main.pack.js
scripts/templates/**/*.js

/connect.lock
/coverage/*
/libpeerconnection.log
testem.log

*.log
/content/main.css
build/
vendors.js
upload
