@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "var";
@import "com";
$text-color: $gray;
$icon-font-path: "../images/fonts/";
$fa-font-path: "../images/fonts";
$brand-primary: #18ae89;
$navbar-inverse-bg: $brand-primary;
$navbar-inverse-color: #fff;
$navbar-inverse-link-color: $navbar-inverse-color;
$navbar-inverse-border: lighten($navbar-inverse-bg, 10%);
$navbar-inverse-link-active-bg: darken($navbar-inverse-bg, 10%);
$navbar-height: 65px;
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/normalize";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/print";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/glyphicons";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/scaffolding";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/type";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/grid";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/tables";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/forms";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/buttons";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/dropdowns";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/component-animations";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/button-groups";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/input-groups";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/navs";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/navbar";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/breadcrumbs";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/pagination";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/pager";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/labels";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/badges";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/jumbotron";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/thumbnails";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/progress-bars";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/alerts";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/media";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/modals";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/list-group";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/responsive-embed";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/panels";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/wells";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/close";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/tooltip";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/modals";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/carousel";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/popovers";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/utilities";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/responsive-utilities";
@import "font-awesome/font-awesome";
@import "../bower_components/select2/dist/css/select2";
@import "../bower_components/handsontable/dist/handsontable";
@import "../bower_components/pikaday/scss/pikaday";
@import "../bower_components/bootstrap-table/dist/bootstrap-table";
@import "../bower_components/nouislider/distribute/nouislider.min";
@import "../node_modules/pnotify/dist/pnotify";
@import "../node_modules/pnotify/dist/pnotify.mobile";
@import "../node_modules/pnotify/dist/pnotify.buttons";
@import "../cook/fine-uploader-new-fix";
@import "../cook/fine-uploader-gallery-fix";

@import "styles/global";
@import "styles/form";
@import "styles/chart";
@import "styles/tables";
@import "modules/nav";
@import "modules/appindex";
@import "modules/compatibility";
@import "modules/log_table";
@import "modules/process_config";
@import "modules/store_config";
@import "modules/parameters";
@import "modules/status_pandect";
@import "pandect";
@import "apps_new";
@import "apps_sidebar";
@import "apps_pandect";
@import "apps_monitor";
@import "cloud_access";
