.chart_wapper{
    text-align: center;
    .chart{
        margin: 0 auto;
        width: 100%; // echart2 不支持 width 100%, 需要js预设
    }
    .nulldata{
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
    }
}
